*.xcodeproj/
*.xcworkspace/
!*.xcodeproj/project.xcworkspace/xcshareddata/

build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

.build/
.swiftpm/
Packages/

.DS_Store

__pycache__/
*.py[cod]
.venv/
venv/
*.db
*.sqlite3

.env
